<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tatiana cabrera Vargas">
    <meta name="description" content="Pagina inicial">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Document</title>
</head>
<body>

    <h1><%= titulo %></h1>
    <nav>   
        <a href="/">Inicio</a>
        <a href="/stop" target="_blank">Stop</a>
        <a href="/contactenos" target="_blank">Contactenos</a>
    </nav>
    <h2>Hola Mundo</h2>
    <h3>Mi nombre es <strong>Tatiana Cabrera Vargas</strong> </h3>
    <h6><u>Estudiante de la Universidad del Rosario</u></h6>
    <p><em>Esta es la página de inicio de mi proyecto con Express y EJS</em></p>
    <p>La fórmula del agua es H<sub>2</sub>O Y un número elevado al cuadrado es X<sup>2</sup></p>
    <img src="../img/notaMusical.jpg" alt="Nota Musical">
    <h4>Lenguajes y tecnologías que estoy aprendiendo:</h4>
    <ol type="I">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>EJS</li>
    </ol>
    <h4>Mis objetivos para este semestre son:</h4>
    
    <ul type="disc">
        <li>Aprender mucho</li>
        <li>Hacer un buen proyecto</li>
        <li>Obtener una buena calificación</li>
        <li>Divertirme aprendiendo</li>
    </ul>
    <img src="https://tse3.mm.bing.net/th/id/OIP.50s5KT0-_0hx_6FxjlBOcAHaE8?pid=Api&P=0&h=180" alt="nota">
    <ul type="none">
        <li><img src="/img/florist.png"> Redes sociales</li>
        <li><img src="img/florist.png">Aplicaciones móviles</li>
        <li><img src="img/florist.png">Desarrollo web</li> 
        <li><img src="img/florist.png">Videojuegos</li>
    </ul>
    <a href="https://www.urosario.edu.co/" target="_blank">Universidad del Rosario</a>
    <br>
<a href="https://www.instagram.com/" target="_self">Instagram</a>
    <br>
    <br>
    <br>
    <table border="1">
        
      <tr>  
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Edad</td>
      </tr> 
      <tr>  
        <td>Tatiana</td>
        <td>Cabrera</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Juan</td>
        <td>Pérez</td>
        <td>22</td>
      </tr> 
      <caption> Listado de Personas</caption>
    </table>
    <br> <br>
    <table border=1> 
        <img src="/img/reloj.jpg"> 
        <caption><strong>Agenda Semanal </strong></caption> 
        <tr> 
            <th> Hora</th> 
            <th> Lunes</th> 
            <th> Martes</th> 
            </tr> 
            <tr> 
                <th>7:00 am</th> 
                <td colspan="2">Desayuno </td> 
            </tr> 
            <tr> 
                <th>8:00 am</th> 
                <td>Reunión</td> 
                <td>Clase</td> 
            </tr> 
    </table>
    <br> <br>
    <table border="2"> 
        <img src="/img/reloj.jpg"> 
        <caption><strong>Agenda Semanal </strong></caption> 
        <tr> 
            <th> Hora</th> 
            <th> Lunes</th> 
            <th> Martes</th> 
            </tr> 
            <tr> 
                <th>7:00 am</th> 
                <td rowspan="2">Reunion con Jefe </td> 
                <td>Desayuno</td>
            </tr> 
            <tr> 
                <th>8:00 am</th> 
                <td>Informe</td> 
                 
            </tr> 
    </table>
<p class="azul"> Este es el primer párrafo </p>
<p class="rojo"> Este es el segundo párrafo </p>
<p> Este es el tercero párrafo </p> 
<h2 id="titulo6"> Moraleja: Nuestros sueños y planes no deben apartarnosdelarealidad</h2>
<p> Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta antítesis entre las dos figuras: <spam class="homero">Homero como cantor de las gestas de los héroes</spam>, Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. En ambos casos, numerosas ciudades se disputaron el honor de ser su cuna. </p>
<br>
<br>
<div class="esopo"> 
    <p> (S.VIa.C.)Escritorgriego.Unodelosmásantiguosgénerosdelaliteraturauniversal eslafábula,untipoderelatobreveprotagonizadoporanimalespersonificadoscuya finalidaddidácticaseexplicitaenunamoraleja final. LaGreciaclásicaatribuyóa Esopo la invencióndeestegénero, igual queasignóaHomero lapaternidadde la épica. </p> <p>Hastamuchossiglosdespuésnosedudóde laexistenciaefectivadeambos, señalando además la perfecta antítesis entre las dos figuras: <span class="homero">Homerocomocantorde lasgestasde loshéroes</span>,Esopo comoretratistadelaplebe,delasdebilidadeshumanasbajoaspectodeanimales.En amboscasos,numerosasciudadessedisputaronelhonordesersucuna. </p> 
</div>
<div class="personaje">
		
		<img src="/img/sailorm.jpg">
		<h2>Serena Tsukino</h2>
		<p>
			<em>Serena Tsukino</em> es la protagonista del manga Sailor Moon, escrito e ilustrado por <em> <a target="blank" href="https://es.wikipedia.org/wiki/Naoko_Takeuchi"> Naoko Takeuchi</a></em>. El manga de 18 volumenes y un total de 52 actos, ha sido llevado al anime en dos ocasiones, la primera en el año 1991 y la segunda en el año 2014.
		</p>
	
	</div>
</body>
</html>